<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LeetMetric</title>
    <link rel="stylesheet" href="/style/styles.css" >
    
</head>
<body>

    <div class="container">
    <div class = "main-container" id="card">
        <div class="heading">
            <a  href="https://leetcode.com/" target="_blank" rel="noopener"><img class="logo" src="/images/3030025.webp" alt="leetcode logo"></a>
            <h1 class="heading-text">LeetMetric</h1>
        </div>

        <div class="form">
            <form action="/submit" method="POST">
                
                <div class="label">
                    <label class="label" for="name">Enter Username</label>
                </div>
                <div class="button">
                    <input type="text" id="name" name="name" required />
                    <input type="submit" id="search" name="search" />                

                </div>

            </form>
        </div>

    </div>
    </div>
    
  <footer class="footer">
            <div class="foot-data">
                @copywright LeetMetric <%= new Date().getFullYear() %>
            </div>
 </footer>

</body>
</html>